name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: thomashoneyman/setup-purescript@main

      - name: Build source
        run: spago build

      - name: Run tests
        run: spago test

      - name: Build examples
        run: spago -x example/example.dhall build
